{% extends "homebase.html" %}
{% load static %}   
{% block active_news %}active{% endblock %}    
{% block content %} 
            
            
    <!-- Page Header Start -->
    <div class="page-header">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2>Tin tức</h2>
                </div>
                <!-- <div class="col-12">
                    <a href="">Home</a>
                    <a href="">Single Page</a>
                </div> -->
            </div>
        </div>
    </div>
    <!-- Page Header End -->


    <!-- Single Page Start -->
    <div class="single">
        <div class="container">
            <div class="section-header">
                <h2>{{news_detail.title}}</h2>
            </div>
            <div class="row">
                <div class="col-12">
                    {{news_detail.content|safe}}
                </div>
                <p>Link bài viết: <a target="_blank" style="color: blue;" href="{{news_detail.link}}">{{news_detail.link}}</a></p>
            </div>
        </div>
    </div>
    <!-- Single Page End -->



{% endblock %}
